In [23]:
import pandas as pd

# Exploratory Data Analysis

## Implicit Hate

In [24]:
df_stg1 = pd.read_csv('data/implicit-hate-corpus/implicit_hate_v1_stg1_posts.tsv', delimiter='\t')
df_stg1.head()

                                                post          class
0    " : jewish harvard professor noel ignatiev w...  implicit_hate
1   b.higher education is a part of european cult...       not_hate
2   has a problem with  " the whites " " and " " ...       not_hate
3   is yasir qadhi a hate preacher for calling ch...       not_hate
4   rt  " : how three million germans mass murder...       not_hate

In [25]:
df_stg1.agg({'class': lambda x: x.value_counts()})

               class
not_hate       13291
implicit_hate   7100
explicit_hate   1089

In [28]:
df_stg3 = pd.read_csv('data/implicit-hate-corpus/implicit_hate_v1_stg3_posts.tsv', delimiter='\t')
df_stg3.head()

,post,target,implied_statement
0,"rt "" white privilege "" "" is when the gun jam...",minority groups,people in minority groups are all in gangs
1,if you are white in that state watch yourself !,non-white people,non-white people are dangerous
2,so the 500 % increase in h1b visas ? yeah i'm ...,Immigrants,Immigrants are undesirable
3,rt antiwhites expose their hatred of white ki...,Anti-whites,Anti-whites hate white people
4,capitalism like communism is an enemy of the...,Capitalists,Capitalists don't like white people.

In [29]:
df_stg3.agg({'target': lambda x: x.value_counts()})

                      target
Minorities               732
Immigrants               653
white people             618
Muslims                  574
Jews                     436
...                      ...
Mexican nationalists       1
Indian journalists         1
catholics & jews           1
Corporate leaders          1
white police               1

[673 rows x 1 columns]

## COVID Hate

In [26]:
covid_df = pd.read_csv('data/covid-hate-corpus/annotated_tweets_w_text.csv')
covid_df.head()

,Tweet ID,Text,label
0,1242553623260868608,Are we still allowed to quote ancient Chinese ...,0
1,1246508137638580225,@mamacat2u @VBeltiz More power to you! This C...,0
2,1233468243534372865,"CNBC: WHO, Tedros reiterated that the virus co...",0
3,1243626072387747841,"""The heightened racism experienced by Asian co...",1
4,1225611530978217989,Coronavirus and Nepali in China: KP Oli has di...,0

In [27]:
covid_df['label'] = covid_df['label'].replace({0: 'not_hate', 1: 'counterhate', 2: 'hate'})
covid_df.agg({'label': lambda x: x.value_counts()})

             label
not_hate      1344
counterhate    517
hate           429